<%- include("./partials/header") %>
<%- include("./partials/nav") %>

  <div class="w-full flex flex-col items-center justify-center">
    <div class="w-[60%] font-semibold py-2 flex flex-col items-center justify-center gap-5 mt-5">
      <%allBlogs.forEach((blogs)=>{%>

        <div
          class="w-[100%] h-[15vw] font-semibold rounded border shadow-xl py-2 px-2 flex items-center justify-start mt-5">
          <img class="w-[15vw] h-full object-cover rounded" src="<%=blogs.blogPoster%>" alt="">
          <div class="h-full w-full px-5 py-2 flex flex-col items-start justify-between gap-3">
            <div class="w-full">
              <h1 class="text-3xl flex items-center justify-between w-full">
                <div>
                  <%=blogs.blogTitle.slice(0,30)%>
                </div>
              </h1>
              <span class="p-1 font-normal text-gray-500"><%= blogs.createdAt?.toString().slice(0,15) %></span>
              
            </div>
            <p class="text-gray-600 font-[400]">
              <%=blogs.blogContent.slice(0,250)%>....
            </p>
            <div class="w-full flex justify-between">
              <span>Comments: 10</span>
              <a class="text-blue-600 hover:text-blue-700" href="/blogReadMore/<%=blogs._id%>">Read more..</a>
            </div>
          </div>
        </div>

        <%})%>

    </div>
  </div>

<%- include("./partials/footer") %>