<%- include("./partials/header") %>
<%- include("./partials/nav") %>

        <div class="w-[100%] flex flex-col items-center justify-center pb-10">
            <div class="w-[60%] bg-teal-50 rounded-xl border shadow-xl p-5 flex flex-col items-center justify-between mt-5">
                <div>
                    <img class="w-[100px] h-[100px] border rounded-full object-cover object-center" src="<%=user.profileImage%>" alt="">
                    <h2 class="py-1 text-xl font-semibold"><%=user.name%></h2>   
                </div>
                <div class="w-[100%] border-t border-gray-400 pt-5 flex items-center justify-between mt-5">
                    <div class="flex items-center gap-10">
                        <div class="flex flex-col gap-1">
                            <h2 class="font-semibold">@<%=user.username%></h2>
                            <h2><%=user.email%></h2>
                        </div>                    
                    </div>
                    <div class="flex flex-col items-center">
                        <h2 class="text-lg font-semibold">Total</h2>
                        <span><%=user.blogs.length%></span>
                    </div>
                    <div class="flex flex-col items-center">
                        <a href="/users/editProfile/<%=user._id%>">
                            <button class="px-2 py-1 bg-green-600 text-white font-semibold hover:bg-green-700 w-[5rem] m-1 rounded border">Edit</button>
                        </a>
                        <a href="/users/logout"> 
                            <button class="px-2 py-1 bg-red-600 text-white font-semibold hover:bg-red-700 w-[5rem] m-1 rounded border">Logout</button>
                        </a>
                    </div>
                </div>
            </div>
            <a class="w-[60%] bg-blue-600 hover:bg-blue-700 text-white font-semibold rounded border shadow-xl py-2 flex items-center justify-center mt-5" href="/users/creatBlog">
                <button > Create new blog + </button>
            </a>
            
            <div class="w-[60%] font-semibold py-2 flex flex-col items-center justify-center gap-5 mt-5">
                <%user.blogs.forEach((blog)=>{%>
                    <div class="w-[100%] h-[15vw] font-semibold rounded border shadow-xl py-2 px-2 flex items-center justify-start mt-5">
                        <img class="w-[15vw] h-full object-cover rounded" src="<%=blog.blogPoster%>" alt="">
                        <div class="h-full w-full px-5 py-2 flex flex-col items-start justify-between gap-3">
                            <div class="w-full">
                                <h1 class="text-3xl flex items-center justify-between w-full"><div><%=blog.blogTitle%></div><div><a class="text-red-600 text-sm" href="#">Delete</a></div></h1>
                                <span><%=blog.createdat%></span>
                            </div>
                            <p class="text-gray-600 font-[400]">
                               <%=blog.blogContent%>
                            </p>
                            <div class="w-full flex justify-between">
                                <span>Comments: 10</span>
                                <a class="text-blue-600 hover:text-blue-700" href="/blogReadMore">Read more..</a>
                            </div>
                        </div>
                    </div>
                <%})%>
            </div>
        </div>

<%- include("./partials/footer") %>